In [1]:
import pandas as pd
import re

In [2]:
gold = pd.read_csv('koyfin_20201107_xauusd_price.csv')

## Data Cleaning

In [3]:
gold

,Date,XAUUSD Open,XAUUSD Low,XAUUSD High,XAUUSD Close,XAUUSD Adj. Close,XAUUSD Volume,XAUUSD Vol (1M),XAUUSD Vol (3M),XAUUSD Vol (6M)
0,11-06-2020,"1,949.53","1,936.82","1,960.31","1,952.11","1,952.11",0,15.76,17.28,17.39
1,11-05-2020,"1,903.10","1,902.89","1,952.50","1,950.56","1,950.56",0,15.77,20.87,17.43
2,11-04-2020,"1,909.59","1,886.90","1,915.16","1,901.86","1,901.86",0,13.31,20.19,17.10
3,11-03-2020,"1,895.16","1,888.89","1,910.40","1,906.91","1,906.91",0,14.92,20.38,17.10
4,11-02-2020,"1,881.51","1,874.37","1,895.50","1,895.50","1,895.50",0,14.97,20.50,17.09
...,...,...,...,...,...,...,...,...,...,...
11848,05-29-1970,35.9500,35.9500,35.9500,35.9500,35.9500,0,NaN,NaN,NaN
11849,04-30-1970,35.6200,35.6200,35.6200,35.6200,35.6200,0,NaN,NaN,NaN
11850,03-31-1970,35.0900,35.0900,35.0900,35.0900,35.0900,0,NaN,NaN,NaN
11851,02-27-1970,34.9900,34.9900,34.9900,34.9900,34.9900,0,NaN,NaN,NaN
11852,02-26-1970,34.9400,34.9400,34.9400,34.9400,34.9400,0,NaN,NaN,NaN

In [4]:
# removing end space
gold['XAUUSD Open'] = [re.sub(' ', '', ele) for ele in gold['XAUUSD Open']]
gold['XAUUSD Low'] = [re.sub(' ', '', ele) for ele in gold['XAUUSD Low']]
gold['XAUUSD High']= [re.sub(' ', '', ele) for ele in gold['XAUUSD High']]
gold['XAUUSD Close'] =[re.sub(' ', '', ele) for ele in gold['XAUUSD Close']]
gold['XAUUSD Adj. Close'] =[re.sub(' ', '', ele) for ele in gold['XAUUSD Adj. Close']]

# removing comas
gold['XAUUSD Open'] = [re.sub(',','', ele) for ele in gold['XAUUSD Open']]
gold['XAUUSD Low'] = [re.sub(',','', ele) for ele in gold['XAUUSD Low']]
gold['XAUUSD High']= [re.sub(',','', ele) for ele in gold['XAUUSD High']]
gold['XAUUSD Close'] =[re.sub(',','', ele) for ele in gold['XAUUSD Close']]
gold['XAUUSD Adj. Close'] =[re.sub(',','', ele) for ele in gold['XAUUSD Adj. Close']]

In [5]:
# Changing dtypes for price and dates and replacing ' Date' by 'Date' as name of the column
gold[['XAUUSD Open', 'XAUUSD Low', 'XAUUSD High', 'XAUUSD Close', 'XAUUSD Adj. Close']] = gold[['XAUUSD Open', 'XAUUSD Low', 'XAUUSD High', 'XAUUSD Close', 'XAUUSD Adj. Close']].astype(float)
gold

,Date,XAUUSD Open,XAUUSD Low,XAUUSD High,XAUUSD Close,XAUUSD Adj. Close,XAUUSD Volume,XAUUSD Vol (1M),XAUUSD Vol (3M),XAUUSD Vol (6M)
0,11-06-2020,1949.53,1936.82,1960.31,1952.11,1952.11,0,15.76,17.28,17.39
1,11-05-2020,1903.10,1902.89,1952.50,1950.56,1950.56,0,15.77,20.87,17.43
2,11-04-2020,1909.59,1886.90,1915.16,1901.86,1901.86,0,13.31,20.19,17.10
3,11-03-2020,1895.16,1888.89,1910.40,1906.91,1906.91,0,14.92,20.38,17.10
4,11-02-2020,1881.51,1874.37,1895.50,1895.50,1895.50,0,14.97,20.50,17.09
...,...,...,...,...,...,...,...,...,...,...
11848,05-29-1970,35.95,35.95,35.95,35.95,35.95,0,NaN,NaN,NaN
11849,04-30-1970,35.62,35.62,35.62,35.62,35.62,0,NaN,NaN,NaN
11850,03-31-1970,35.09,35.09,35.09,35.09,35.09,0,NaN,NaN,NaN
11851,02-27-1970,34.99,34.99,34.99,34.99,34.99,0,NaN,NaN,NaN
11852,02-26-1970,34.94,34.94,34.94,34.94,34.94,0,NaN,NaN,NaN

In [6]:
gold['date'] = pd.to_datetime(gold[' Date'])
gold.index = gold.date 
gold = gold.drop(columns = ['date', ' Date', 'XAUUSD Volume'])

In [7]:
gold.to_csv('C_20201107_xauusd_price.csv')

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11853 entries, 2020-11-06 to 1970-02-26
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   XAUUSD Open        11853 non-null  float64
 1   XAUUSD Low         11853 non-null  float64
 2   XAUUSD High        11853 non-null  float64
 3   XAUUSD Close       11853 non-null  float64
 4   XAUUSD Adj. Close  11853 non-null  float64
 5   XAUUSD Vol  (1M)   11832 non-null  float64
 6   XAUUSD Vol  (3M)   11790 non-null  float64
 7   XAUUSD Vol  (6M)   11727 non-null  float64
dtypes: float64(8)
memory usage: 833.4 KB